* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  min-height: 100vh;
  line-height: 1;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
}

article > * + * {
  margin-top: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 80px;
  height: 80px;
}

.hamburger__container {
  display: block;
  z-index: 1000;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

header {
  background-color: #000033;
  min-height: 194px;
  padding: 0 40px 0 40px;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 194px;
}

.container__header h1 {
  font-weight: 700;
  font-size: 100px;
  margin-left: -255px;
  color: #FFFFFF;
}

.container__header .form-registration {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input__search input {
  width: 265px;
  border: 0;
  background: #3366FF;
  border-radius: 10px 0 0 10px;
  height: 77px;
  padding-left: 28px;
  font-weight: 500;
  font-size: 30px;
  color: #FFFFFF;
}

.input__search input::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.input__search input:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.input__search input::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.input__search input::placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.input__search button {
  height: 77px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #3366FF;
  border: 0;
  border-radius: 0 10px 10px 0;
}

@media screen and (max-width: 1180px) {
  .input__search input {
    width: 150px;
    padding-left: 10px;
  }
  .input__search button {
    width: 50px;
  }
  .container__header h1 {
    font-size: 70px;
    margin-left: -200px;
  }
}

@media screen and (max-width: 900px) {
  .input__search input {
    width: 120px;
    padding-left: 10px;
    height: 50px;
  }
  .input__search button {
    height: 50px;
  }
  .container__header h1 {
    font-size: 50px;
    margin-left: -100px;
  }
}

@media screen and (max-width: 675px) {
  header {
    padding: 0 10px 0 10px;
  }
  .container__header h1 {
    font-size: 30px;
    margin-left: -50px;
  }
}

.header__navigation {
  min-height: 88px;
  margin-top: 34px;
  padding: 0 40px 0 40px;
}

.nav__header {
  min-height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__header li {
  font-weight: 700;
  font-size: 40px;
}

.nav__header li a {
  color: #000;
  -webkit-transition: color .3s ease-in-out 0s;
  transition: color .3s ease-in-out 0s;
}

.nav__header li a:hover {
  color: #0033CC;
}

@media screen and (max-width: 930px) {
  .nav__header li {
    font-weight: 700;
    font-size: 30px;
    color: #000000;
  }
}

@media screen and (max-width: 768px) {
  .header__navigation {
    position: fixed;
    width: 311px;
    height: 700px;
    background-color: #000033;
    top: 0;
    right: 0;
    overflow-y: auto;
    padding: 150px 0 0 0;
    border-radius: 10px;
    -webkit-transform: translate(150%, 0);
    transform: translate(150%, 0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    z-index: 999;
  }
  .nav__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__header li:not(:nth-child(5n-4)) {
    margin-left: 0px;
    margin-top: 50px;
  }
  .nav__header li a {
    font-weight: 600;
    color: #fff;
  }
  .header__navigation-active {
    -webkit-transform: translate(0%, 0);
    transform: translate(0%, 0);
  }
  .input__search {
    display: none;
  }
  .container__header h1 {
    margin-left: 0px;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hamburger__container::before {
    content: "";
    top: 0;
    position: absolute;
    left: 0;
    height: 8%;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    background-color: #fff;
  }
  .hamburger__container::after {
    content: "";
    bottom: 0;
    position: absolute;
    left: 0;
    height: 8%;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    background-color: #fff;
  }
  .hamburger__container > span {
    position: absolute;
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
    left: 0;
    height: 8%;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    background-color: #fff;
  }
  .hamburger__container-active::before {
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
    top: 50%;
  }
  .hamburger__container-active::after {
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
    bottom: 50%;
  }
  .hamburger__container-active > span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .hamburger__container-active::before, .hamburger__container-active::after, .hamburger__container-active > span {
    background-color: #fff;
  }
  .container__header .form-registration {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .container__header .input__search {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.body__close {
  overflow: hidden;
}

.wraper {
  margin-top: 32px;
  min-height: 1826px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
}

aside {
  float: left;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 335px;
  z-index: 998;
  padding-top: 30px;
}

.aside__container h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  letter-spacing: 0.08em;
  color: #0033CC;
}

.aside__container .aside__nav li {
  height: 87px;
  width: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 32px;
}

.aside__container .aside__nav li p {
  margin-left: 17px;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  letter-spacing: 0.08em;
  color: #000000;
}

.aside__container .aside__nav li:first-child {
  background: #6699FF;
}

.games__container {
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.games__elements {
  margin-left: 66px;
  margin-top: 30px;
  cursor: pointer;
}

.games__information {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.games__aside {
  margin-left: 13px;
}

.categories__mobile {
  display: none;
}

.categories__button {
  max-width: 400px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000033;
  margin-top: 10px;
  border-radius: 20px;
}

.categories__button h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 53px;
  letter-spacing: 0.08em;
  color: #fff;
}

.categories__select {
  display: none;
}

.categories__select li {
  margin-top: 20px;
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  color: #000;
  font-size: 20px;
}

.categories__select li:first-child {
  background: #6699FF;
}

.categories__select-active {
  display: block;
}

.games__name {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.08em;
  color: #000000;
}

.games__company {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.08em;
  color: #6699FF;
}

.games__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.games__image a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #6699FF;
  z-index: -1;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.games__image a p {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: #0033CC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.games__image a p span {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.08em;
  color: #fff;
}

.games__image img {
  -webkit-transition: -webkit-transform .5s ease-in-out 0s;
  transition: -webkit-transform .5s ease-in-out 0s;
  transition: transform .5s ease-in-out 0s;
  transition: transform .5s ease-in-out 0s, -webkit-transform .5s ease-in-out 0s;
}

.games__elements:hover .games__image img {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

@media screen and (max-width: 670px) {
  .aside__container .aside__nav li {
    width: 200px;
  }
  aside {
    width: 200px;
  }
  .aside__container .aside__nav li p {
    font-size: 30px;
  }
  .aside__container h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 520px) {
  .wraper {
    padding-left: 10px;
  }
}

@media screen and (max-width: 520px) {
  .aside__container .aside__nav li {
    width: 100px;
  }
  aside {
    width: 100px;
  }
  .aside__container .aside__nav li p {
    font-size: 15px;
  }
  .aside__container h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  aside {
    display: none;
  }
  .games__elements {
    margin-left: 0;
  }
  .games__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .categories__mobile {
    display: block;
  }
}

.slider__wraper {
  padding-top: 145px;
  padding-bottom: 66px;
}

.slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #3366FF;
  border-radius: 5px;
  cursor: pointer;
}

.slider__content {
  width: 1110px;
  margin: 40px auto;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.slider__tracker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform .5s ease-in-out 0s;
  transition: -webkit-transform .5s ease-in-out 0s;
  transition: transform .5s ease-in-out 0s;
  transition: transform .5s ease-in-out 0s, -webkit-transform .5s ease-in-out 0s;
}

.slider__elements {
  min-width: 515px;
  height: 463px;
  background: #FFFFFF;
  -webkit-box-shadow: -1px 1px 10px 6px rgba(34, 60, 80, 0.2);
  box-shadow: -1px 1px 10px 6px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
  margin-right: 58px;
}

.comment__box {
  margin-left: 50px;
}

.comment__box svg {
  margin-top: 50px;
}

.comment__date {
  margin-top: 30px;
  font-weight: 500;
  font-size: 26px;
  color: #000000;
}

.comment__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  margin-top: 30px;
}

.comment__name {
  margin-top: 46px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 46px;
  color: #000000;
}

footer {
  min-height: 329px;
  background: #20113D;
}

footer .container {
  padding: 82px 0 0 0;
}

footer .container hr {
  border: 1px solid #FFFFFF;
  margin-top: 57px;
  background: inherit;
}

.container__logs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container__logs-log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  color: #FFFFFF;
}

.container__logs-log img:not(:nth-child(1)) {
  margin-left: 65px;
}

.container__logs-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__logs-nav ul li:not(:nth-child(1)) {
  margin-left: 46px;
}

.container__logs-nav ul li a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: color .3s ease-in-out 0s;
  transition: color .3s ease-in-out 0s;
}

.container__logs-nav ul li a:hover, .container__logs-nav ul li a:active {
  color: #0033CC;
}

.container__logs-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 359px;
  height: 74px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: inherit;
  border-radius: 5px;
  -webkit-transition: background .3s ease-in-out 0s;
  transition: background .3s ease-in-out 0s;
}

.container__logs-button:hover, .container__logs-button:active {
  background: #0033CC;
}

.container__logs-button svg {
  margin-left: 10px;
}

.container__logs-button .nav-text {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.container__messengers {
  margin-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container__messengers-private {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__messengers-private .footer-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

.container__messengers-private .footer-text:not(:nth-child(1)) {
  margin-left: 50px;
}

.container__messengers-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__messengers-icon ul li {
  margin-left: 65px;
}

.container__messengers-icon ul li:not(:nth-child(5n-4)) {
  margin-left: 30px;
}

.container__messengers-icon ul li a {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
}

.container__messengers-icon ul li a svg path {
  -webkit-transition: -webkit-transform .3s ease-in-out 0s;
  transition: -webkit-transform .3s ease-in-out 0s;
  transition: transform .3s ease-in-out 0s;
  transition: transform .3s ease-in-out 0s, -webkit-transform .3s ease-in-out 0s;
}

.container__messengers-icon ul li a:hover svg path {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.container__messengers-icon ul li .youtube {
  background-color: #FF0000;
}

.container__messengers-icon ul li .instagram {
  background-color: #C13584;
}

.container__messengers-icon ul li .facebook {
  background-color: #3B5998;
}

.hr__mess {
  display: none;
}

#scroolUpper {
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .container__logs-log img:not(:nth-child(1)) {
    margin-left: 30px;
  }
  .container__logs-nav ul li:not(:nth-child(1)) {
    margin-left: 20px;
  }
  footer .container {
    padding: 75px 0 0 0;
  }
  .container__logs {
    padding: 0 40px 0 40px;
  }
  footer .container hr {
    border: 1px solid #FFFFFF;
    margin-top: 70px;
    background: inherit;
  }
  .container__messengers {
    padding: 0 40px 0 40px;
  }
  .container__messengers-icon ul li:not(:nth-child(5n-4)) {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1171px) {
  .container__logs {
    max-width: 590px;
    margin: 0 auto;
  }
  .container__logs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container__logs-log img:not(:nth-child(1)) {
    margin-left: 81px;
  }
  .container__logs-nav {
    margin-top: 50px;
  }
  .container__logs-button {
    margin-top: 50px;
  }
  footer .container hr {
    border: 1px solid #FFFFFF;
    margin-top: 50px;
    background: inherit;
  }
  footer .container {
    padding: 50px 0 50px 0;
  }
  .container__messengers {
    max-width: 527px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container__messengers-icon {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 50px;
  }
  .container__messengers-private {
    margin-top: 30px;
  }
  .container__logs-nav ul li:not(:nth-child(1)) {
    margin-left: 53px;
  }
  .container__messengers-icon ul li:not(:nth-child(5n-4)) {
    margin-left: 50px;
  }
  #first__bag {
    margin-left: 0;
  }
}

@media screen and (max-width: 560px) {
  footer .container hr {
    margin-top: 30px;
  }
  .container__messengers-private {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .container .yper {
    display: none;
  }
  .container__messengers {
    width: inherit;
  }
  .hr__mess {
    width: inherit;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: block;
  }
  .container__messengers-icon {
    margin-top: 30px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .container__logs-nav ul li:not(:nth-child(1)) {
    margin-left: 15px;
  }
  .container__logs-nav {
    margin-top: 30px;
  }
  .container__logs-log {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container__logs {
    padding: 0 10px 0 10px;
  }
  .container__logs-button {
    margin-top: 30px;
    max-width: 300px;
    height: 45px;
  }
  .container__logs-log img:not(:nth-child(1)) {
    margin-left: 0px;
    margin-top: 30px;
  }
  .container__logs-button .nav-text {
    text-transform: none;
  }
  .container__messengers {
    padding: 0 0 0 0;
  }
  .container__messengers-private {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container__messengers-private .footer-text:not(:nth-child(1)) {
    margin-left: 0px;
    margin-top: 40px;
  }
  .container__logs-nav ul li a {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 1130px) {
  .slider__content {
    width: 550px;
  }
}

@media screen and (max-width: 590px) {
  .slider__content {
    width: 300px;
  }
  .slider__elements {
    min-width: 280px;
    height: 363px;
  }
  .comment__box {
    margin-left: 10px;
  }
  .comment__box svg {
    margin-top: 30px;
  }
  .comment__date {
    font-size: 20px;
  }
  .comment__text {
    font-size: 14px;
  }
}
